{#- Shared macros for Zscaler ZIA web proxy events -#}
{#- Import with: {% from '_base.json.jinja' import common_setup, agent_block, ecs_block, host_block, device_block, user_block, network_block, tls_block, zscaler_device_block, zscaler_datacenter_block %} -#}

{%- macro agent_block(params) -%}
    "agent": {
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}",
        "id": "{{ params.agent_id }}",
        "name": "{{ params.nss_server }}",
        "type": "filebeat",
        "version": "{{ params.agent_version }}"
    }
{%- endmacro -%}

{%- macro ecs_block() -%}
    "ecs": {
        "version": "8.17.0"
    }
{%- endmacro -%}

{%- macro host_block(device) -%}
    "host": {
        "hostname": "{{ device.hostname }}",
        "name": "{{ device.hostname | lower }}",
        "os": {
            "type": "{{ 'windows' if device.os_type == 'Windows' else ('macos' if device.os_type == 'macOS' else ('ios' if device.os_type == 'iOS' else ('android' if device.os_type == 'Android' else 'other'))) }}",
            "version": "{{ device.os_version }}"
        },
        "type": "{{ device.device_type }}"
    }
{%- endmacro -%}

{%- macro device_block(device, external_dev_id) -%}
    "device": {
        "id": "{{ external_dev_id }}",
        "model": {
            "identifier": "{{ device.device_model }}"
        }
    }
{%- endmacro -%}

{%- macro user_block(user) -%}
    "user": {
        "domain": "{{ user.email.split('@')[1] }}",
        "email": "{{ user.email }}",
        "name": "{{ user.email.split('@')[0] }}"
    }
{%- endmacro -%}

{%- macro network_block(protocol) -%}
    "network": {
        "protocol": "{{ protocol | lower }}"
    }
{%- endmacro -%}

{%- macro tls_block(tls_version, cipher) -%}
    "tls": {
        "cipher": "{{ cipher }}",
        "version": "{{ tls_version }}"
    }
{%- endmacro -%}

{%- macro zscaler_device_block(device, user) -%}
            "device": {
                "appversion": "{{ device.zcc_version }}",
                "hostname": "{{ device.hostname }}",
                "model": "{{ device.device_model }}",
                "name": "{{ device.hostname }}",
                "os": {
                    "type": "{{ device.os_type }}",
                    "version": "{{ device.os_version }}"
                },
                "owner": "{{ user.email.split('@')[0] }}",
                "type": "{{ device.device_type }}"
            }
{%- endmacro -%}

{%- macro zscaler_datacenter_block(params) -%}
            "datacenter": {
                "city": "{{ params.datacenter_city }}",
                "country": "{{ params.datacenter_country }}",
                "name": "{{ params.datacenter }}"
            }
{%- endmacro -%}
