{%- set seq = shared.get('sequence', 1000) -%}
{%- set hostname = params.hostname -%}
{%- set fqdn = hostname ~ '.' ~ params.fqdn_suffix -%}
{#- Pick user context -#}
{%- set user_type = module.rand.weighted_choice(["root", "regular", "service"], [25, 40, 35]) -%}
{%- if user_type == "root" -%}
  {%- set actor_user = "root" -%}
  {%- set actor_uid = "0" -%}
  {%- set actor_gid = "0" -%}
  {%- set actor_group = "root" -%}
  {%- set auid_user = module.rand.weighted_choice(["root", (samples.usernames | random).username], [40, 60]) -%}
  {%- set auid_uid = "0" if auid_user == "root" else module.rand.number.integer(1000, 1200) | string -%}
{%- elif user_type == "service" -%}
  {%- set svc_accounts = ["www-data", "nobody", "postgres", "redis", "nginx"] -%}
  {%- set svc_uids = ["33", "65534", "114", "115", "101"] -%}
  {%- set svc_idx = module.rand.number.integer(0, 4) -%}
  {%- set actor_user = svc_accounts[svc_idx] -%}
  {%- set actor_uid = svc_uids[svc_idx] -%}
  {%- set actor_gid = actor_uid -%}
  {%- set actor_group = actor_user -%}
  {%- set auid_user = "unset" -%}
  {%- set auid_uid = "4294967295" -%}
{%- else -%}
  {%- set u = samples.usernames | random -%}
  {%- set actor_user = u.username -%}
  {%- set actor_uid = u.uid | string -%}
  {%- set actor_gid = u.gid | string -%}
  {%- set actor_group = actor_user -%}
  {%- set auid_user = actor_user -%}
  {%- set auid_uid = actor_uid -%}
{%- endif -%}
{#- Pick a file path -#}
{%- set f = samples.file_paths | random -%}
{%- set pid = module.rand.number.integer(1000, 65535) -%}
{%- set ppid = module.rand.number.integer(1, 65535) -%}
{%- set ses = module.rand.number.integer(1, 9999) | string -%}
{%- if auid_user == "unset" -%}{%- set ses = "unset" -%}{%- endif -%}
{%- set tty = module.rand.weighted_choice(["pts" ~ module.rand.number.integer(0, 9), "(none)"], [50, 50]) -%}
{%- set syscall_name = module.rand.weighted_choice(["openat", "open"], [85, 15]) -%}
{%- set exit_code = module.rand.weighted_choice([3, 4, 5, 6, 7, 8, -13, -2], [30, 20, 15, 10, 10, 5, 5, 5]) -%}
{%- set success = "yes" -%}
{%- set outcome = "success" -%}
{%- if exit_code < 0 -%}
  {%- set success = "no" -%}
  {%- set outcome = "failure" -%}
  {%- set exit_code = exit_code * -1 -%}
{%- endif -%}
{%- set comm = module.rand.choice(["cat", "vim", "less", "head", "tail", "nano", "grep", "sed", "awk", "python3", "node", "nginx", "sshd", "rsyslogd"]) -%}
{%- set exe = "/usr/bin/" ~ comm -%}
{%- if comm in ["nginx", "sshd", "rsyslogd"] -%}{%- set exe = "/usr/sbin/" ~ comm -%}{%- endif -%}
{%- set cwd = module.rand.choice(["/root", "/home/" ~ actor_user, "/tmp", "/opt/app", "/var/log", "/etc"]) -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    "agent": {
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}",
        "id": "{{ params.agent_id }}",
        "name": "{{ fqdn }}",
        "type": "auditbeat",
        "version": "{{ params.agent_version }}"
    },
    "auditd": {
        "data": {
            "a0": "{{ module.rand.string.hex(7) }}",
            "a1": "{{ module.rand.string.hex(7) }}",
            "a2": "{{ module.rand.string.hex(7) }}",
            "a3": "{{ module.rand.string.hex(7) }}",
            "arch": "x86_64",
            "exit": "{{ exit_code }}",
            "success": "{{ success }}",
            "syscall": "{{ syscall_name }}",
            "tty": "{{ tty }}"
        },
        "message_type": "syscall",
        "paths": [
            {
                "dev": "{{ f.dev }}",
                "inode": "{{ f.inode }}",
                "item": "0",
                "mode": "{{ f.mode }}",
                "name": "{{ f.path }}",
                "nametype": "{{ f.nametype }}",
                "ogid": "{{ f.ogid }}",
                "ouid": "{{ f.ouid }}"
            }
        ],
        "result": "{{ outcome }}",
        "session": "{{ ses }}",
        "summary": {
            "actor": {
                "primary": "{{ auid_user }}",
                "secondary": "{{ actor_user }}"
            },
            "how": "{{ exe }}",
            "object": {
                "primary": "{{ f.path }}",
                "type": "file"
            }
        }
    },
    "ecs": {
        "version": "8.11.0"
    },
    "event": {
        "action": "opened-file",
        "category": ["file"],
        "kind": "event",
        "module": "auditd",
        "outcome": "{{ outcome }}",
        "sequence": {{ seq }},
        "type": ["info"]
    },
    "file": {
        "device": "{{ f.dev }}",
        "gid": "{{ f.ogid }}",
        "inode": "{{ f.inode }}",
        "mode": "{{ f.mode }}",
        "path": "{{ f.path }}",
        "uid": "{{ f.ouid }}"
    },
    "host": {
        "hostname": "{{ hostname }}",
        "name": "{{ fqdn }}",
        "os": {
            "family": "linux",
            "kernel": "{{ params.os_kernel }}",
            "name": "{{ params.os_name }}",
            "platform": "{{ params.os_platform }}",
            "type": "linux",
            "version": "{{ params.os_version }}"
        }
    },
    "process": {
        "executable": "{{ exe }}",
        "name": "{{ comm }}",
        "parent": {
            "pid": {{ ppid }}
        },
        "pid": {{ pid }},
        "working_directory": "{{ cwd }}"
    },
    "related": {
        "user": [{% if auid_user != "unset" and auid_user != actor_user %}"{{ auid_user }}", {% endif %}"{{ actor_user }}"]
    },
    "service": {
        "type": "auditd"
    },
    "user": {
        "audit": {
            "id": "{{ auid_uid }}",
            "name": "{{ auid_user }}"
        },
        "effective": {
            "group": {
                "id": "{{ actor_gid }}",
                "name": "{{ actor_group }}"
            },
            "id": "{{ actor_uid }}",
            "name": "{{ actor_user }}"
        },
        "group": {
            "id": "{{ actor_gid }}",
            "name": "{{ actor_group }}"
        },
        "id": "{{ actor_uid }}",
        "name": "{{ actor_user }}"
    }
}
{%- do shared.set('sequence', (seq + 1) % 2147483647) -%}
