{%- set host = samples.hosts.pick() -%}
{%- set fqdn = host.name ~ '.' ~ params.fqdn_suffix -%}
{%- set report_id = shared.get('report_id:' ~ host.device_id, 1000) -%}
{%- do shared.set('report_id:' ~ host.device_id, report_id + 1) -%}
{%- set regop = samples.registry_paths.pick() -%}
{#- Pick an initiating process from pool or sample -#}
{%- set proc_pool = shared.get('proc_pool:' ~ host.device_id, []) -%}
{%- if proc_pool | length > 0 -%}
  {%- set proc = proc_pool | random -%}
{%- else -%}
  {%- set proc = samples.processes.pick() -%}
{%- endif -%}
{#- Determine account based on integrity level -#}
{%- if proc.integrity_level == "System" -%}
  {%- set acct_domain = "NT AUTHORITY" -%}
  {%- set acct_name = "system" -%}
  {%- set acct_sid = "S-1-5-18" -%}
  {%- set acct_upn = "" -%}
  {%- set acct_oid = "00000000-0000-0000-0000-000000000000" -%}
  {%- set token_elevation = "TokenElevationTypeDefault" -%}
{%- elif proc.integrity_level == "High" -%}
  {%- set user = samples.usernames.pick() -%}
  {%- set acct_domain = params.domain -%}
  {%- set acct_name = user.username -%}
  {%- set acct_sid = user.sid -%}
  {%- set acct_upn = user.upn -%}
  {%- set acct_oid = user.object_id -%}
  {%- set token_elevation = "TokenElevationTypeFull" -%}
{%- else -%}
  {%- set user = samples.usernames.pick() -%}
  {%- set acct_domain = params.domain -%}
  {%- set acct_name = user.username -%}
  {%- set acct_sid = user.sid -%}
  {%- set acct_upn = user.upn -%}
  {%- set acct_oid = user.object_id -%}
  {%- set token_elevation = "TokenElevationTypeLimited" -%}
{%- endif -%}
{%- set logon_id = module.rand.number.integer(1000000, 9999999) -%}
{%- set proc_pid = module.rand.number.integer(1000, 65535) -%}
{%- set proc_creation = (timestamp - module.datetime.timedelta(seconds=module.rand.number.integer(60, 86400))).strftime('%Y-%m-%dT%H:%M:%S.%f') ~ 'Z' -%}
{%- set proc_parent_pid = module.rand.number.integer(1000, 65535) -%}
{%- set proc_parent_creation = (timestamp - module.datetime.timedelta(days=module.rand.number.integer(1, 7))).strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] ~ 'Z' -%}
{
  "Tenant": {{ params.tenant | tojson }},
  "category": "AdvancedHunting-DeviceRegistryEvents",
  "operationName": "Publish",
  "properties": {
    "Timestamp": "{{ timestamp.strftime('%Y-%m-%dT%H:%M:%S.%f') }}Z",
    "DeviceId": "{{ host.device_id }}",
    "DeviceName": "{{ fqdn }}",
    "ActionType": "{{ regop.action_type }}",
    "RegistryKey": {{ regop.key | tojson }},
    "RegistryValueType": "{{ regop.value_type }}",
    "RegistryValueName": {{ regop.value_name | tojson }},
    "RegistryValueData": {{ regop.value_data | tojson }},
    "PreviousRegistryKey": {{ regop.previous_key | tojson }},
    "PreviousRegistryValueName": {{ regop.previous_value_name | tojson }},
    "PreviousRegistryValueData": {{ regop.previous_value_data | tojson }},
    "InitiatingProcessAccountDomain": {{ acct_domain | tojson }},
    "InitiatingProcessAccountName": {{ acct_name | tojson }},
    "InitiatingProcessAccountSid": "{{ acct_sid }}",
    "InitiatingProcessAccountUpn": "{{ acct_upn }}",
    "InitiatingProcessAccountObjectId": "{{ acct_oid }}",
    "InitiatingProcessLogonId": {{ logon_id }},
    "InitiatingProcessIntegrityLevel": "{{ proc.integrity_level }}",
    "InitiatingProcessTokenElevation": "{{ token_elevation }}",
    "InitiatingProcessSHA1": "{{ proc.sha1 }}",
    "InitiatingProcessSHA256": "{{ proc.sha256 }}",
    "InitiatingProcessMD5": "{{ proc.md5 }}",
    "InitiatingProcessFileName": {{ proc.name | tojson }},
    "InitiatingProcessFileSize": {{ proc.file_size }},
    "InitiatingProcessFolderPath": {{ proc.path | tojson }},
    "InitiatingProcessId": {{ proc_pid }},
    "InitiatingProcessCommandLine": {{ proc.command_line | tojson }},
    "InitiatingProcessCreationTime": "{{ proc_creation }}",
    "InitiatingProcessParentFileName": {{ proc.parent_name | tojson }},
    "InitiatingProcessParentId": {{ proc_parent_pid }},
    "InitiatingProcessParentCreationTime": "{{ proc_parent_creation }}",
    "InitiatingProcessSignerType": "{{ proc.signer_type }}",
    "InitiatingProcessSignatureStatus": "{{ proc.signature_status }}",
    "InitiatingProcessVersionInfoCompanyName": {{ proc.company | tojson }},
    "InitiatingProcessVersionInfoProductName": {{ proc.product | tojson }},
    "InitiatingProcessVersionInfoProductVersion": "{{ proc.product_version }}",
    "InitiatingProcessVersionInfoInternalFileName": {{ proc.internal_name | tojson }},
    "InitiatingProcessVersionInfoOriginalFileName": {{ proc.original_file_name | tojson }},
    "InitiatingProcessVersionInfoFileDescription": {{ proc.description | tojson }},
    "ReportId": {{ report_id }},
    "AppGuardContainerId": null,
    "MachineGroup": "{{ host.machine_group }}"
  },
  "tenantId": "{{ params.tenant_id }}",
  "time": "{{ (timestamp + module.datetime.timedelta(seconds=module.rand.number.integer(60, 300))).strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] }}Z"
}