{%- set hostname = params.hostname -%}
{%- set pid = module.rand.number.integer(1, 100) -%}
{%- set tid = module.rand.number.integer(140000000000000, 140999999999999) -%}
{#- Operational notice messages -#}
{%- set notices = [
    {"module": "mpm_event", "message": "AH00489: Apache/2.4.62 (Ubuntu) OpenSSL/3.0.13 configured -- resuming normal operations"},
    {"module": "mpm_event", "message": "AH00492: caught SIGWINCH, shutting down gracefully"},
    {"module": "mpm_event", "message": "AH00493: SIGUSR1 received.  Doing graceful restart"},
    {"module": "core", "message": "AH00094: Command line: '/usr/sbin/apache2'"},
    {"module": "ssl", "message": "AH01882: Init: Initializing (virtual) servers with SSL"},
    {"module": "ssl", "message": "AH01914: Configuring server " ~ params.domain ~ ":443 for SSL protocol"},
    {"module": "core", "message": "AH00163: Apache/2.4.62 (Ubuntu) OpenSSL/3.0.13 configured -- resuming normal operations"},
    {"module": "mpm_event", "message": "AH00491: caught SIGTERM, shutting down"},
    {"module": "ssl", "message": "AH02645: Hostname " ~ params.domain ~ " provided via SNI and target server with certificate match"}
] -%}
{%- set notice = notices | random -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    "agent": {
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}",
        "id": "{{ params.agent_id }}",
        "name": "{{ hostname }}",
        "type": "filebeat",
        "version": "{{ params.agent_version }}"
    },
    "apache": {
        "error": {
            "module": "{{ notice.module }}"
        }
    },
    "data_stream": {
        "dataset": "apache.error",
        "namespace": "default",
        "type": "logs"
    },
    "ecs": {
        "version": "8.11.0"
    },
    "event": {
        "category": ["web"],
        "dataset": "apache.error",
        "kind": "event",
        "module": "apache",
        "type": ["info"]
    },
    "host": {
        "hostname": "{{ hostname }}",
        "name": "{{ hostname }}",
        "os": {
            "family": "{{ params.os_family }}",
            "name": "{{ params.os_name }}",
            "type": "linux"
        }
    },
    "log": {
        "level": "notice"
    },
    "message": "{{ notice.message }}",
    "process": {
        "pid": {{ pid }},
        "thread": {
            "id": {{ tid }}
        }
    },
    "tags": ["apache-error"]
}
