{%- from 'templates/_base.json.jinja' import agent_block, ecs_block, event_block, source_block, user_block, user_agent_block, related_block, okta_actor_block, okta_auth_context_block, okta_client_block, okta_debug_block, okta_outcome_block, okta_transaction_block, okta_target_block, okta_request_block, okta_security_context_block -%}
{%- set user = samples.users | random -%}
{%- set ip_row = samples.source_ips | random -%}
{%- set ua = samples.user_agents | random -%}
{%- set factor = samples.mfa_factors | random -%}
{%- set event_id = module.rand.crypto.uuid4() -%}
{%- set session_id = module.rand.crypto.uuid4() -%}
{%- set request_id = module.rand.crypto.uuid4() -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    {{ agent_block(params) }},
    "client": {
        "geo": {
            "city_name": {{ ip_row.city | tojson }},
            "country_name": {{ ip_row.country | tojson }},
            "location": {
                "lat": {{ ip_row.lat }},
                "lon": {{ ip_row.lon }}
            },
            "region_name": {{ ip_row.state | tojson }}
        },
        "ip": "{{ ip_row.ip }}",
        "user": {
            "email": "{{ user.email }}",
            "full_name": "{{ user.display_name }}",
            "id": "{{ user.id }}",
            "name": "{{ user.alternate_id }}"
        }
    },
    {{ ecs_block() }},
    {{ event_block("user.authentication.auth_via_mfa", ["authentication"], event_id, "success", ["info"]) }},
    {{ source_block(ip_row, user) }},
    {{ user_block(user) }},
    {{ user_agent_block(ua) }},
    {{ related_block([ip_row.ip], [user.display_name, user.alternate_id]) }},
    "okta": {
        {{ okta_actor_block(user) }},
        {{ okta_auth_context_block(session_id, 1, factor.credential_type) }},
        {{ okta_client_block(ip_row, ua) }},
        {{ okta_debug_block(request_id, "/api/v1/authn/factors/" ~ module.rand.crypto.uuid4() ~ "/verify", "false") }},
        "display_message": "Authentication of user via MFA",
        "event_type": "user.authentication.auth_via_mfa",
        {{ okta_outcome_block("SUCCESS", none) }},
        {{ okta_request_block(ip_row) }},
        {{ okta_target_block([
            {"alternate_id": user.alternate_id, "display_name": user.display_name, "id": user.id, "type": "User"}
        ]) }},
        {{ okta_transaction_block(request_id, "WEB") }},
        "severity": "INFO",
        {{ okta_security_context_block(ip_row) }},
        "version": "0",
        "uuid": "{{ event_id }}"
    },
    "tags": ["forwarded", "okta-system"]
}
