{%- macro render(station, notification, action, category, type, outcome, severity, message, fields, user='', hashes=[]) -%}
{
  "@timestamp": {{ timestamp.isoformat() | tojson }},
  "ecs": {"version": {{ params.ecs_version | tojson }}},
  "event": {
    "kind": "event",
    "module": "drweb",
    "dataset": "drweb.ess",
    "action": {{ action | tojson }},
    "category": {{ category | tojson }},
    "type": {{ type | tojson }},
    "outcome": {{ outcome | tojson }},
    "severity": {{ severity | tojson }}
  },
  "message": {{ message | tojson }},
  "observer": {
    "vendor": "Doctor Web",
    "product": "Enterprise Security Suite",
    "version": {{ params.server_version | tojson }},
    "hostname": {{ params.server_name | tojson }},
    "ip": [{{ params.server_ip | tojson }}]
  },
  "host": {
    "id": {{ station.id | tojson }},
    "name": {{ station.name | tojson }},
    "hostname": {{ station.name | tojson }},
    "ip": [{{ station.ip | tojson }}]
  },
  {%- if user %}
  "user": {"name": {{ user | tojson }}},
  {%- endif %}
  "related": {
    "hosts": [{{ station.name | tojson }}],
    "ip": [{{ station.ip | tojson }}]
    {%- if user %}, "user": [{{ user | tojson }}]{% endif %}
    {%- if hashes %}, "hash": {{ hashes | tojson }}{% endif %}
  },
  "drweb": {
    "ess": {
      "notification": {{ notification | tojson }},
      "station": {
        "id": {{ station.id | tojson }},
        "name": {{ station.name | tojson }},
        "ip": {{ station.ip | tojson }},
        "primary_group": {{ params.station_group | tojson }}
      },
      "variables": {{ fields | tojson }}
    }
  }
}
{%- endmacro -%}
