{%- from 'templates/_base.json.jinja' import render with context -%}
{%- set station = samples.stations.pick() -%}
{%- set obj = samples.objects[module.rand.choice([0, 1, 3, 4])] -%}
{%- do shared.set('last_app_station_id', station.id) -%}
{%- set fields = {
  'MSG.AppCtlAction': 5,
  'MSG.AppCtlType': 1,
  'MSG.Path': obj.path,
  'MSG.Profile': 'Default deny executables',
  'MSG.Rule': 'Block untrusted application',
  'MSG.SHA256': obj.sha256,
  'MSG.StationTime': timestamp.isoformat(),
  'MSG.TestMode': 0,
  'MSG.User': station.user
} -%}
{{- render(station, 'Application Control blocked the process', 'application-control-blocked',
    ['process'], ['denied'], 'success', 5,
    'Application Control blocked ' ~ obj.path ~ ' on ' ~ station.name ~ '.', fields,
    station.user, [obj.sha256]) -}}
