{%- from 'templates/_base.json.jinja' import render with context -%}
{%- if shared.get('arc_station') -%}
  {%- set station = shared.get('arc_station') -%}
{%- else -%}
  {%- set picked = samples.stations.pick() -%}
  {%- if picked.id == shared.get('last_app_station_id') -%}
    {%- set picked = samples.stations[1] if picked.id == samples.stations[0].id else samples.stations[0] -%}
  {%- endif -%}
  {%- set station = picked -%}
{%- endif -%}
{%- set fields = {
  'MSG.Denied': 'allowed',
  'MSG.HipsType': 'HOSTS file',
  'MSG.IsShellGuard': 'check the access to the protected objects',
  'MSG.Path': 'C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe',
  'MSG.Pid': module.rand.number.integer(2400, 12000),
  'MSG.StationTime': timestamp.isoformat(),
  'MSG.Target': 'C:\\Windows\\System32\\drivers\\etc\\hosts',
  'MSG.Total': 0,
  'MSG.User': station.user,
  'MSG.UserAction': 'user'
} -%}
{{- render(station, 'Report of Preventive protection', 'preventive-protection-allowed',
    ['process'], ['allowed'], 'success', 6,
    'User ' ~ station.user ~ ' allowed PowerShell access to the protected HOSTS file on ' ~ station.name ~ '.',
    fields, station.user) -}}
