{%- from 'templates/_base.json.jinja' import render with context -%}
{%- set fields = {
  'MSG.Denied': 'allowed', 'MSG.HipsType': 'HOSTS file',
  'MSG.IsShellGuard': 'check the access to the protected objects',
  'MSG.Path': 'C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe',
  'MSG.Pid': ctx.pid,
  'MSG.StationTime': (now - module.datetime.timedelta(seconds=3)).isoformat(),
  'MSG.Target': 'C:\\Windows\\System32\\drivers\\etc\\hosts',
  'MSG.User': station.user, 'MSG.UserAction': 'user'
} -%}
{{- render(station, 'Report of Preventive protection', 'preventive-protection-allowed',
    ['process'], ['allowed'], 'success', 6,
    'User ' ~ station.user ~ ' allowed a separate PowerShell HOSTS modification on ' ~ station.name ~ '.',
    fields, station.user) -}}
