{%- from 'templates/_base.json.jinja' import render with context -%}
{%- set station = samples.stations.pick() -%}
{%- set obj = samples.objects.pick() -%}
{%- set fields = {
  'MSG.Action': 'moved to quarantine',
  'MSG.Component': module.rand.weighted_choice(['SpIDer Guard', 'Dr.Web Scanner'], [70, 30]),
  'MSG.InfectionType': obj.kind,
  'MSG.ObjectName': obj.path,
  'MSG.ObjectOwner': station.user,
  'MSG.RunBy': station.user,
  'MSG.ServerTime': timestamp.isoformat(),
  'MSG.Virus': obj.threat
} -%}
{{- render(station, 'Security threat detected', 'security-threat-detected',
    ['malware'], ['info'], 'success', 6,
    obj.threat ~ ' detected in ' ~ obj.path ~ ' on ' ~ station.name ~ '.', fields,
    station.user) -}}
