{%- from 'templates/_base.json.jinja' import render with context -%}
{%- set fields = {'MSG.Product': 'Dr.Web Agent for Windows', 'MSG.ServerTime': now.isoformat()} -%}
{{- render(station, 'Critical error of station update', 'station-update-error',
    ['package'], ['error'], 'failure', 5,
    'Dr.Web Agent product update failed on ' ~ station.name ~ '.', fields) -}}
