{%- from 'templates/_base.json.jinja' import agent_block, ecs_block, cloud_block_global, pick_caller, pick_user_agent, pick_source_ip, authentication_info_block, request_metadata_block -%}
{%- set project = samples.projects | random -%}
{%- set src_ip = pick_source_ip(samples.source_ips) -%}
{%- set event_id = module.rand.string.hex(16) -%}
{%- set caller_data = pick_caller(samples.users, samples.service_accounts) -%}
{%- set caller_type = caller_data.split("|||")[0] -%}
{%- set caller_email = caller_data.split("|||")[1] -%}
{%- set bucket = samples.buckets | random -%}
{%- set ua_value = pick_user_agent(caller_type, samples.user_agents) -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    {{ agent_block(params) }},
    {{ cloud_block_global(project) }},
    {{ ecs_block() }},
    "event": {
        "action": "storage.objects.list",
        "category": ["file", "configuration"],
        "dataset": "gcp.audit",
        "id": "{{ event_id }}",
        "kind": "event",
        "module": "gcp",
        "outcome": "success",
        "provider": "data_access",
        "type": ["access", "allowed"]
    },
    "gcp": {
        "audit": {
            {{ authentication_info_block(caller_email) }},
            "authorization_info": [
                {
                    "granted": true,
                    "permission": "storage.objects.list",
                    "resource_attributes": {
                        "name": "projects/_/buckets/{{ bucket.bucket_name }}",
                        "service": "storage",
                        "type": "storage.buckets"
                    }
                }
            ],
            "method_name": "storage.objects.list",
            "num_response_items": {{ module.rand.choice([10, 25, 50, 100, 250, 500]) }},
            "receive_timestamp": "{{ timestamp.isoformat() }}",
            "request": {
                "@type": "type.googleapis.com/storage.objects.list"
            },
            {{ request_metadata_block(src_ip, ua_value) }},
            "resource": {
                "labels": {
                    "bucket_name": "{{ bucket.bucket_name }}",
                    "project_id": "{{ project.project_id }}"
                },
                "type": "gcs_bucket"
            },
            "resource_location": {
                "current_locations": ["{{ bucket.location }}"]
            },
            "resource_name": "projects/_/buckets/{{ bucket.bucket_name }}",
            "service_name": "storage.googleapis.com",
            "type": "type.googleapis.com/google.cloud.audit.AuditLog"
        }
    },
    "log": {
        "level": "INFO",
        "logger": "projects/{{ project.project_id }}/logs/cloudaudit.googleapis.com%2Fdata_access"
    },
    "related": {
        "ip": ["{{ src_ip }}"],
        "user": ["{{ caller_email }}"]
    },
    "service": {
        "name": "storage.googleapis.com"
    },
    "source": {
        "ip": "{{ src_ip }}"
    },
    "tags": ["forwarded", "gcp-audit"],
    "user_agent": {
        "original": {{ ua_value | tojson }}
    }
}
