{%- set host = samples.hosts | random -%}
{%- set hostname = host.name -%}
{%- set fqdn = hostname ~ '.' ~ params.fqdn_suffix -%}
{%- set seq = shared.get('sequence:' ~ hostname, 1000) -%}
{%- set job = samples.cron_jobs | random -%}
{%- set user = job.user -%}
{%- set command = job.command -%}
{%- set pid = module.rand.number.integer(1000, 65535) -%}
{%- set msg = '(' ~ user ~ ') CMD (' ~ command ~ ')' -%}
{#- PRI: facility=cron(9) * 8 + severity=info(6) = 78 -#}
{%- set pri = 78 -%}
{%- set syslog_msg = '<' ~ pri ~ '>' ~ timestamp.strftime('%b %e %H:%M:%S') ~ ' ' ~ hostname ~ ' CRON[' ~ pid ~ ']: ' ~ msg -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    "event": {
        "original": {{ syslog_msg | tojson }},
        "dataset": "system.syslog",
        "module": "system",
        "kind": "event",
        "category": ["process"],
        "type": ["info"]
    },
    "message": {{ msg | tojson }},
    "host": {
        "hostname": "{{ hostname }}",
        "ip": ["{{ host.ip }}"],
        "mac": ["{{ host.mac }}"],
        "os": {
            "name": "{{ host.os_name }}",
            "version": "{{ host.os_version }}",
            "kernel": "{{ host.os_kernel }}",
            "platform": "{{ host.os_platform }}"
        }
    },
    "process": {
        "name": "CRON",
        "pid": {{ pid }}
    },
    "agent": {
        "type": "filebeat",
        "version": "{{ params.agent_version }}",
        "id": "{{ host.agent_id }}",
        "name": "{{ fqdn }}",
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}"
    },
    "log": {
        "file": {
            "path": "{{ host.syslog_path }}"
        },
        "offset": {{ seq }}
    },
    "data_stream": {
        "type": "logs",
        "dataset": "system.syslog",
        "namespace": "default"
    },
    "ecs": {
        "version": "8.11.0"
    },
    "related": {
        "hosts": ["{{ hostname }}"],
        "user": ["{{ user }}"]
    },
    "user": {
        "name": "{{ user }}"
    },
    "system": {
        "syslog": {}
    }
}
{%- do shared.set('sequence:' ~ hostname, (seq + 1) % 2147483647) -%}
