{%- set host = samples.hosts | random -%}
{%- set hostname = host.name -%}
{%- set fqdn = hostname ~ '.' ~ params.fqdn_suffix -%}
{%- set seq = shared.get('sequence:' ~ hostname, 1000) -%}
{%- set u = samples.usernames | random -%}
{%- set user = u.username -%}
{%- set uid = u.uid -%}
{%- set pid = module.rand.number.integer(1000, 65535) -%}
{%- set tty = 'pts/' ~ module.rand.number.integer(0, 9) -%}
{#- Pick variant -#}
{%- set variant = module.rand.weighted_choice(['success', 'failure'], [85, 15]) -%}
{%- set sudo_cmds = ['/usr/bin/systemctl restart nginx', '/usr/bin/apt update', '/usr/bin/vim /etc/hosts', '/usr/bin/cat /var/log/auth.log', '/usr/sbin/service postgresql restart', '/usr/bin/systemctl status docker', '/usr/bin/tail -f /var/log/syslog', '/usr/bin/chmod 644 /etc/crontab', '/usr/bin/mount /dev/sdb1 /mnt/data', '/usr/bin/journalctl -u sshd'] -%}
{%- set cmd = module.rand.choice(sudo_cmds) -%}
{%- set pwd = module.rand.choice(['/root', '/home/' ~ user, '/tmp', '/var/log', '/etc']) -%}
{%- if variant == 'success' -%}
  {%- set msg = user ~ ' : TTY=' ~ tty ~ ' ; PWD=' ~ pwd ~ ' ; USER=root ; COMMAND=' ~ cmd -%}
  {%- set pri = 85 -%}
  {%- set event_outcome = 'success' -%}
{%- else -%}
  {%- set msg = 'pam_unix(sudo:auth): authentication failure; logname=' ~ user ~ ' uid=' ~ uid ~ ' euid=0 tty=' ~ tty ~ ' ruser=' ~ user ~ ' rhost=  user=' ~ user -%}
  {%- set pri = 82 -%}
  {%- set event_outcome = 'failure' -%}
{%- endif -%}
{%- set syslog_msg = '<' ~ pri ~ '>' ~ timestamp.strftime('%b %e %H:%M:%S') ~ ' ' ~ hostname ~ ' sudo[' ~ pid ~ ']: ' ~ msg -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    "event": {
        "original": {{ syslog_msg | tojson }},
        "dataset": "system.syslog",
        "module": "system",
        "kind": "event",
        "category": ["authentication"],
        "type": ["info"]
    },
    "message": {{ msg | tojson }},
    "host": {
        "hostname": "{{ hostname }}",
        "ip": ["{{ host.ip }}"],
        "mac": ["{{ host.mac }}"],
        "os": {
            "name": "{{ host.os_name }}",
            "version": "{{ host.os_version }}",
            "kernel": "{{ host.os_kernel }}",
            "platform": "{{ host.os_platform }}"
        }
    },
    "process": {
        "name": "sudo",
        "pid": {{ pid }}
    },
    "agent": {
        "type": "filebeat",
        "version": "{{ params.agent_version }}",
        "id": "{{ host.agent_id }}",
        "name": "{{ fqdn }}",
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}"
    },
    "log": {
        "file": {
            "path": "{{ host.syslog_path }}"
        },
        "offset": {{ seq }}
    },
    "data_stream": {
        "type": "logs",
        "dataset": "system.syslog",
        "namespace": "default"
    },
    "ecs": {
        "version": "8.11.0"
    },
    "related": {
        "hosts": ["{{ hostname }}"],
        "user": ["{{ user }}"]
    },
    "user": {
        "name": "{{ user }}"
    },
    "system": {
        "syslog": {}
    }
}
{%- do shared.set('sequence:' ~ hostname, (seq + 1) % 2147483647) -%}
