{%- from 'templates/_base.json.jinja' import metadata_block -%}
{%- set offset = shared.get('offset', 0) -%}
{%- do shared.set('offset', offset + 1) -%}
{%- set host = samples.hosts.pick() -%}
{%- set rule = samples.firewall_rules.pick() -%}
{%- set net_dest = samples.network_destinations.pick() -%}
{%- set epoch_sec = (timestamp.timestamp()) | int -%}
{%- set fw_processes = ["svchost.exe", "chrome.exe", "firefox.exe", "powershell.exe", "cmd.exe", "outlook.exe", "explorer.exe", "python.exe", "node.exe", "java.exe"] -%}
{%- set img_filename = module.rand.choice(fw_processes) -%}
{%- set pid = module.rand.number.integer(100, 65535) -%}
{%- set is_audit = module.rand.chance(0.7) -%}
{%- set is_log = module.rand.chance(0.8) -%}
{%- set is_monitor = module.rand.chance(0.3) -%}
{
    {{ metadata_block("FirewallMatchEvent", params.customer_id, offset, timestamp) }},
    "event": {
        "HostName": {{ host.hostname | tojson }},
        "DeviceId": {{ host.agent_id | tojson }},
        "EventType": "FirewallRuleIP4Matched",
        "ConnectionDirection": {{ net_dest.direction }},
        "Protocol": {{ net_dest.protocol }},
        "Ipv": "ipv4",
        "LocalAddress": {{ host.local_ip | tojson }},
        "LocalPort": {{ module.rand.number.integer(1024, 65535) }},
        "RemoteAddress": {{ net_dest.ip | tojson }},
        "RemotePort": {{ net_dest.port }},
        "RuleName": {{ rule.rule_name | tojson }},
        "RuleId": {{ rule.rule_id | tojson }},
        "RuleAction": {{ rule.rule_action }},
        "RuleDescription": {{ rule.rule_description | tojson }},
        "RuleGroupName": {{ rule.rule_group_name | tojson }},
        "RuleFamilyID": {{ rule.rule_family_id | tojson }},
        "PolicyName": {{ rule.policy_name | tojson }},
        "MatchCount": 1,
        "MatchCountSinceLastReport": 1,
        "PID": {{ pid }},
        "ImageFileName": {{ img_filename | tojson }},
        "Flags": {"Audit": {{ is_audit | tojson | lower }}, "Log": {{ is_log | tojson | lower }}, "Monitor": {{ is_monitor | tojson | lower }}},
        "Platform": "Windows",
        "UTCTimestamp": {{ epoch_sec }}
    }
}