{%- from 'templates/_base.json.jinja' import metadata_block -%}
{%- set offset = shared.get('offset', 0) -%}
{%- do shared.set('offset', offset + 1) -%}
{%- set host = samples.hosts.pick() -%}
{%- set epoch_sec = (timestamp.timestamp()) | int -%}
{%- set incident_hex1 = module.rand.string.hex(32) -%}
{%- set incident_hex2 = module.rand.string.hex(32) -%}
{%- set incident_id = "inc:" ~ incident_hex1 ~ ":" ~ incident_hex2 -%}
{%- set fine_score = module.rand.weighted_choice([25, 40, 55, 70, 85, 100], [10, 20, 25, 25, 15, 5]) -%}
{%- set lateral = module.rand.weighted_choice([0, 1], [80, 20]) -%}
{%- set duration = module.rand.number.integer(60, 7200) -%}
{
    {{ metadata_block("IncidentSummaryEvent", params.customer_id, offset, timestamp) }},
    "event": {
        "IncidentType": 1,
        "IncidentID": {{ incident_id | tojson }},
        "FineScore": {{ fine_score }},
        "LateralMovement": {{ lateral }},
        "IncidentStartTime": {{ epoch_sec - duration }},
        "IncidentEndTime": {{ epoch_sec }},
        "HostID": {{ host.agent_id | tojson }},
        "FalconHostLink": "{{ params.falcon_base_url }}/crowdscore/incidents/details/{{ incident_id }}",
        "State": "open"
    }
}