{% from 'templates/_base.json.jinja' import access with context %}
{% set conn = module.rand.number.integer(100000, 999999) %}
{% do shared.set('conn', conn) %}
{% set actor = 'uid=' ~ params.compromised_user ~ ',cn=users,cn=accounts,' ~ params.base_dn %}
{{ access('bind_request', conn, 2, actor, '', params, params.attack_ip) }}
