{% from 'templates/_base.json.jinja' import kdc with context %}
{% do shared.pop('to_compromised_tgt') %}
{{ kdc(params.compromised_user, params.attack_ip, 'krbtgt/' ~ params.realm, 'as_issue', params) }}
