{% from 'templates/_base.json.jinja' import audit with context %}
{% set actor = 'uid=' ~ params.compromised_user ~ ',cn=users,cn=accounts,' ~ params.base_dn %}
{% set target = 'cn=' ~ params.privileged_group ~ ',cn=groups,cn=accounts,' ~ params.base_dn %}
{% set member = 'uid=' ~ params.added_user ~ ',cn=users,cn=accounts,' ~ params.base_dn %}
{{ audit('member', member, actor, target, params) }}
