{%- from 'templates/_base.json.jinja' import event_base, next_event_id -%}
{%- set host = samples.hosts.pick() -%}
{%- set user = samples.users.pick() -%}
{%- set ioc = samples.ioc_indicators.pick() -%}
{%- set severity_map = {'High': 4, 'Medium': 3, 'Low': 2} -%}
{%- set sev_num = severity_map.get(ioc.severity, 3) -%}
{%- set sha256 = module.rand.string.hex(64) -%}
{%- set domain = samples.malicious_domains.pick().domain -%}
{%- set ext_ip = samples.external_ips.pick().ip -%}
{#- Generate IOC value based on type -#}
{%- if ioc.ioc_type == 'FileHash' -%}
  {%- set ioc_value = sha256 -%}
{%- elif ioc.ioc_type == 'IP' -%}
  {%- set ioc_value = ext_ip -%}
{%- elif ioc.ioc_type == 'Domain' -%}
  {%- set ioc_value = domain -%}
{%- elif ioc.ioc_type == 'URL' -%}
  {%- set ioc_value = 'http://' ~ domain ~ '/gate.php' -%}
{%- elif ioc.ioc_type == 'RegistryKey' -%}
  {%- set ioc_value = 'HKLM\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Run\\' ~ module.rand.string.letters_lowercase(8) -%}
{%- elif ioc.ioc_type == 'FilePath' -%}
  {%- set ioc_value = 'C:\\Users\\' ~ user.username ~ '\\AppData\\Local\\Temp\\' ~ module.rand.string.letters_lowercase(8) ~ '.exe' -%}
{%- else -%}
  {%- set ioc_value = sha256 -%}
{%- endif -%}
{
    {{ event_base(["threat"], ["indicator"], sev_num, "success", timestamp, params, "iocScanning") }},
    "kaspersky": {
        "kata": {
            "event_id": {{ next_event_id(shared) }},
            "detection_type": "iocScanning",
            "detection_name": "IOC has tripped on endpoint",
            "technology": "IOC Scanning",
            "ioc": {
                "type": {{ ioc.ioc_type | tojson }},
                "value": {{ ioc_value | tojson }},
                "description": {{ ioc.description | tojson }},
                "feed": {{ ioc.feed | tojson }}
            },
            "sensor_id": {{ host.sensor_id | tojson }}
        }
    },
    "threat": {
        "indicator": {
            "type": {{ ioc.ioc_type | lower | tojson }},
            "description": {{ ioc.description | tojson }},
            "provider": {{ ioc.feed | tojson }}
        }
    },
    "host": {
        "hostname": {{ host.hostname | tojson }},
        "ip": [{{ host.ip | tojson }}],
        "os": {
            "name": {{ host.os | tojson }},
            "version": {{ host.os_version | tojson }}
        },
        "domain": {{ host.domain | tojson }}
    },
    "user": {
        "name": {{ user.username | tojson }},
        "domain": {{ user.domain | tojson }}
    },
    "related": {
        "hosts": [{{ host.hostname | tojson }}],
        "ip": [{{ host.ip | tojson }}],
        "user": [{{ user.username | tojson }}]
    }
}