{%- from 'templates/_base.json.jinja' import agent_block, ecs_block, cloud_block, event_block, source_block, user_block, organization_block, related_block, o365_base_block, pick_user_agent, pick_source_ip, user_type_value, record_type_for_workload -%}
{%- set user = samples.users | random -%}
{%- set org = samples.organizations | random -%}
{%- set src_ip = pick_source_ip(samples.source_ips) -%}
{%- set audit_id = module.rand.crypto.uuid4() -%}
{%- set event_id = module.rand.crypto.uuid4() -%}
{%- set correlation_id = module.rand.crypto.uuid4() -%}
{%- set site = samples.sharepoint_sites.weighted_pick('weight') -%}
{%- set library = module.rand.choice(site.libraries) -%}
{%- set file = samples.files.weighted_pick('weight') -%}
{%- set ua_type = module.rand.weighted_choice(["browser_windows", "browser_mac", "sharepoint"], [40, 30, 30]) -%}
{%- set ua_value = pick_user_agent(ua_type, samples.user_agents) -%}
{#- Share target: internal user or external -#}
{%- set is_external_share = module.rand.chance(0.2) -%}
{%- if is_external_share -%}
    {%- set external_domains = ["partner.com", "vendor.io", "client.org", "consultant.net"] -%}
    {%- set share_target = module.rand.choice(["contact", "info", "reviewer"]) ~ "@" ~ module.rand.choice(external_domains) -%}
    {%- set share_target_type = "Guest" -%}
{%- else -%}
    {%- set share_user = samples.users | random -%}
    {%- set share_target = share_user.upn -%}
    {%- set share_target_type = "Member" -%}
{%- endif -%}
{%- set sharing_type = module.rand.weighted_choice(["View", "Edit"], [65, 35]) -%}
{%- set operation = "SharingSet" -%}
{%- set workload = "SharePoint" -%}
{%- set rec_type = record_type_for_workload(workload, operation) -%}
{%- set ut_val = user_type_value(user) -%}
{%- set source_relative_url = library.relative_url ~ "/" ~ file.folder -%}
{%- set object_id = site.site_url ~ "/" ~ library.relative_url ~ "/" ~ file.folder ~ "/" ~ file.name -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    {{ agent_block(params) }},
    {{ cloud_block() }},
    {{ ecs_block() }},
    {{ event_block(operation, ["file"], event_id, "success", ["change"]) }},
    {{ source_block(src_ip) }},
    {{ user_block(user) }},
    "user_agent": {
        "original": {{ ua_value | tojson }}
    },
    {{ organization_block(org) }},
    "file": {
        "directory": {{ source_relative_url | tojson }},
        "extension": "{{ file.extension }}",
        "name": {{ file.name | tojson }}
    },
    {{ related_block([src_ip], [user.upn.split('@')[0], user.upn, share_target]) }},
    "o365": {
        "audit": {
            {{ o365_base_block(audit_id, rec_type, "Succeeded", operation, workload, user, src_ip, object_id, ut_val) }},
            "user_agent": {{ ua_value | tojson }},
            "item_type": "File",
            "site_url": {{ site.site_url | tojson }},
            "source_file_name": {{ file.name | tojson }},
            "source_file_extension": {{ file.extension | tojson }},
            "source_relative_url": {{ source_relative_url | tojson }},
            "site": {{ site.site_id | tojson }},
            "event_source": "SharePoint",
            "correlation_id": "{{ correlation_id }}",
            "target_user_or_group_name": {{ share_target | tojson }},
            "target_user_or_group_type": {{ share_target_type | tojson }},
            "sharing_type": {{ sharing_type | tojson }},
            "unique_sharing_id": "{{ module.rand.crypto.uuid4() }}"
        }
    }
}
