{%- from 'templates/_base.json.jinja' import agent_block, ecs_block, cloud_block, event_block, source_block, user_block, organization_block, related_block, o365_base_block, pick_user_agent, pick_source_ip, user_type_value, record_type_for_workload -%}
{#- Try to correlate with an active session -#}
{%- set sessions = shared.get('active_sessions', []) -%}
{%- if sessions | length > 0 and module.rand.chance(0.5) -%}
    {%- set session = module.rand.choice(sessions) -%}
    {%- set src_ip = session.src_ip -%}
    {%- set matched_users = [] -%}
    {%- for u in samples.users -%}
        {%- if u.upn == session.user_upn -%}
            {%- do matched_users.append(u) -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if matched_users | length > 0 -%}
        {%- set user = matched_users[0] -%}
    {%- else -%}
        {%- set user = samples.users | random -%}
    {%- endif -%}
{%- else -%}
    {%- set user = samples.users | random -%}
    {%- set src_ip = pick_source_ip(samples.source_ips) -%}
{%- endif -%}
{%- set org = samples.organizations | random -%}
{%- set audit_id = module.rand.crypto.uuid4() -%}
{%- set event_id = module.rand.crypto.uuid4() -%}
{%- set correlation_id = module.rand.crypto.uuid4() -%}
{%- set site = samples.sharepoint_sites.weighted_pick('weight') -%}
{%- set library = module.rand.choice(site.libraries) -%}
{%- set file = samples.files.weighted_pick('weight') -%}
{%- set ua_type = module.rand.weighted_choice(["browser_windows", "browser_mac", "onedrive_sync", "sharepoint", "teams_desktop"], [35, 20, 15, 15, 15]) -%}
{%- set ua_value = pick_user_agent(ua_type, samples.user_agents) -%}
{%- set operation = "FileAccessed" -%}
{%- set workload = "SharePoint" -%}
{%- set rec_type = record_type_for_workload(workload, operation) -%}
{%- set ut_val = user_type_value(user) -%}
{%- set item_type = "File" -%}
{%- set source_relative_url = library.relative_url ~ "/" ~ file.folder -%}
{%- set object_id = site.site_url ~ "/" ~ library.relative_url ~ "/" ~ file.folder ~ "/" ~ file.name -%}
{%- set list_item_id = module.rand.crypto.uuid4() -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    {{ agent_block(params) }},
    {{ cloud_block() }},
    {{ ecs_block() }},
    {{ event_block(operation, ["file"], event_id, "success", ["access"]) }},
    {{ source_block(src_ip) }},
    {{ user_block(user) }},
    "user_agent": {
        "original": {{ ua_value | tojson }}
    },
    {{ organization_block(org) }},
    "file": {
        "directory": {{ source_relative_url | tojson }},
        "extension": "{{ file.extension }}",
        "name": {{ file.name | tojson }}
    },
    {{ related_block([src_ip], [user.upn.split('@')[0], user.upn]) }},
    "o365": {
        "audit": {
            {{ o365_base_block(audit_id, rec_type, "Succeeded", operation, workload, user, src_ip, object_id, ut_val) }},
            "user_agent": {{ ua_value | tojson }},
            "item_type": {{ item_type | tojson }},
            "site_url": {{ site.site_url | tojson }},
            "source_file_name": {{ file.name | tojson }},
            "source_file_extension": {{ file.extension | tojson }},
            "source_relative_url": {{ source_relative_url | tojson }},
            "site": {{ site.site_id | tojson }},
            "list_item_unique_id": "{{ list_item_id }}",
            "event_source": "SharePoint",
            "correlation_id": "{{ correlation_id }}"
        }
    }
}
