{%- set record_id = shared.get('record_id', 1) -%}
{%- set hostname = params.hostname -%}
{%- set fqdn = hostname ~ '.' ~ params.domain -%}
{%- set user = (samples.usernames | random).username -%}
{%- set client_ip = module.rand.network.ip_v4_public() -%}
{#- VPN profile -#}
{%- set group_policy = module.rand.weighted_choice(
  ["GP_AnyConnect", "GP_FullAccess", "GP_RestrictedAccess", "GP_Contractors"],
  [40, 25, 20, 15]
) -%}
{#- Assigned IP from pool -#}
{%- set assigned_ip = params.vpn_pool_network ~ "." ~ module.rand.number.integer(10, 254) -%}
{%- set syslog_msg = "%ASA-6-722051: Group <" ~ group_policy ~ "> User <" ~ user ~ "> IP <" ~ client_ip ~ "> IPv4 Address <" ~ assigned_ip ~ "> IPv6 address <::> assigned to session" -%}
{%- set pri = 166 -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    "agent": {
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}",
        "id": "{{ params.agent_id }}",
        "name": "{{ fqdn }}",
        "type": "filebeat",
        "version": "{{ params.agent_version }}"
    },
    "cisco": {
        "asa": {
            "assigned_ip": "{{ assigned_ip }}",
            "message_id": "722051"
        }
    },
    "data_stream": {
        "dataset": "cisco_asa.log",
        "namespace": "default",
        "type": "logs"
    },
    "ecs": {
        "version": "8.17.0"
    },
    "event": {
        "action": "address-assigned",
        "category": ["network"],
        "code": "722051",
        "dataset": "cisco_asa.log",
        "kind": "event",
        "module": "cisco_asa",
        "original": "<{{ pri }}>{{ timestamp.strftime('%b %d %Y %H:%M:%S') }} {{ hostname }} : {{ syslog_msg }}",
        "outcome": "success",
        "severity": 6,
        "type": ["connection", "info"]
    },
    "host": {
        "hostname": "{{ hostname }}"
    },
    "log": {
        "level": "informational",
        "syslog": {
            "facility": {
                "code": 20
            },
            "priority": {{ pri }},
            "severity": {
                "code": 6
            }
        }
    },
    "observer": {
        "hostname": "{{ hostname }}",
        "name": "{{ fqdn }}",
        "product": "asa",
        "type": "firewall",
        "vendor": "Cisco"
    },
    "related": {
        "hosts": ["{{ hostname }}"],
        "ip": ["{{ client_ip }}", "{{ assigned_ip }}"],
        "user": ["{{ user }}"]
    },
    "source": {
        "address": "{{ client_ip }}",
        "ip": "{{ client_ip }}",
        "user": {
            "group": {
                "name": "{{ group_policy }}"
            },
            "name": "{{ user }}"
        }
    },
    "tags": ["cisco-asa", "forwarded"]
}
{%- do shared.set('record_id', (record_id + 1) % 2147483647) -%}
