{%- for key in ['to_routine_request', 'to_routine_disposition', 'to_audit_change', 'to_attack_request', 'to_attack_issue'] -%}{%- do shared.pop(key, none) -%}{%- endfor -%}
{%- set stage = vars.stage -%}
{%- set utc = timestamp.astimezone(module.datetime.timezone.utc) -%}
{%- set interval = module.datetime.timedelta(hours=[params.anomaly_interval_hours|float, 6]|max) -%}
{%- if shared.get('next_anomaly_at', none) is none -%}
  {%- do shared.set('next_anomaly_at', utc + interval) -%}
  {%- do shared.set('next_maintenance_at', utc + module.datetime.timedelta(hours=8)) -%}
{%- endif -%}
{%- if shared.get('restart_completed_at', none) is not none and utc >= shared.get('restart_completed_at') -%}
  {%- do shared.set('active_audit_filter', shared.pop('pending_active_filter')) -%}
  {%- do shared.pop('restart_completed_at') -%}
{%- endif -%}
{%- set seq = shared.get('record_id', 310000) + module.rand.number.integer(4, 40) -%}{%- do shared.set('record_id', seq) -%}
{%- set process_id = shared.get('process_id', 652) -%}
{%- set thread_id = shared.get('thread_id', 368) -%}
{%- set code = 4886 -%}
{%- set user = shared.get('requester', 'anna') -%}
{%- set req_id = shared.get('request_id', 3000) -%}
{%- set attributes = shared.get('attributes', 'CertificateTemplate:' ~ params.routine_template) -%}
{%- if stage == 'routine_request' -%}
  {%- set thread_id = module.rand.choice([368, 412, 588, 724]) -%}{%- do shared.set('thread_id', thread_id) -%}
  {%- set last_change = shared.get('last_audit_at', none) -%}
  {%- set privileged = shared.get('routine_pairs', 0) % 240 == 20 and (last_change is none or (utc - last_change).total_seconds() >= 1800) -%}
  {%- set user = params.suspicious_requester if privileged else module.rand.choice(['anna', 'boris', 'irina', 'pavel', 'marina']) -%}
  {%- set attributes = 'CertificateTemplate:' ~ params.enrollment_template ~ '\nSAN:upn=' ~ params.privileged_upn if privileged else 'CertificateTemplate:' ~ params.routine_template -%}
  {%- set req_id = req_id + 1 -%}
  {%- do shared.set('request_id', req_id) -%}{%- do shared.set('requester', user) -%}
  {%- do shared.set('attributes', attributes) -%}{%- do shared.set('request_is_privileged', privileged) -%}
  {%- do shared.set('to_routine_disposition', true) -%}
{%- elif stage == 'routine_disposition' -%}
  {%- set code = 4887 if shared.get('request_is_privileged', false) else module.rand.weighted_choice([4887, 4888], [94, 6]) -%}
  {%- set pairs = (shared.get('routine_pairs', 0) + 1) % 240 -%}{%- do shared.set('routine_pairs', pairs) -%}
  {%- set current_filter = shared.get('audit_filter', 127) -%}
  {%- if current_filter == 119 and utc >= shared.get('restore_at') -%}
    {%- do shared.set('audit_reason', 'restore') -%}
    {%- do shared.set('to_audit_change', true) -%}
  {%- elif params.anomaly_mode and current_filter == 127 and utc >= shared.get('next_anomaly_at') -%}
    {%- do shared.set('audit_reason', 'episode') -%}
    {%- do shared.set('to_audit_change', true) -%}
  {%- elif current_filter == 127 and utc >= shared.get('next_maintenance_at') -%}
    {%- do shared.set('audit_reason', 'maintenance') -%}
    {%- do shared.set('to_audit_change', true) -%}
  {%- else -%}{%- do shared.set('to_routine_request', true) -%}{%- endif -%}
{%- elif stage == 'audit_change' -%}
  {%- set code = 4885 -%}
  {%- set thread_id = module.rand.choice([1024, 1172]) -%}
  {%- set user = params.suspicious_requester -%}
  {%- set reason = shared.pop('audit_reason') -%}
  {%- set audit_filter = 127 if reason == 'restore' else 119 -%}
  {%- do shared.set('audit_filter', audit_filter) -%}
  {%- do shared.set('last_audit_at', utc) -%}
  {%- do shared.set('process_id', 652 if process_id >= 32716 else process_id + 48) -%}
  {%- if audit_filter == 119 -%}
    {%- do shared.set('restore_at', utc + module.datetime.timedelta(hours=1)) -%}
    {%- do shared.set('next_maintenance_at', utc + module.datetime.timedelta(hours=8)) -%}
  {%- else -%}
    {%- do shared.pop('restore_at') -%}
  {%- endif -%}
  {%- if reason == 'episode' -%}
    {%- do shared.set('next_anomaly_at', utc + interval) -%}
    {%- do shared.set('to_attack_request', true) -%}
  {%- else -%}{%- do shared.set('to_routine_request', true) -%}{%- endif -%}
{%- elif stage == 'attack_request' -%}
  {%- set thread_id = module.rand.choice([368, 412, 588, 724]) -%}{%- do shared.set('thread_id', thread_id) -%}
  {%- set user = params.suspicious_requester -%}
  {%- set req_id = req_id + 1 -%}
  {%- set attributes = 'CertificateTemplate:' ~ params.enrollment_template ~ '\nSAN:upn=' ~ params.privileged_upn -%}
  {%- do shared.set('request_id', req_id) -%}{%- do shared.set('requester', user) -%}
  {%- do shared.set('attributes', attributes) -%}
  {%- do shared.set('to_attack_issue', true) -%}
{%- else -%}
  {%- set code = 4887 -%}
  {%- do shared.set('to_routine_request', true) -%}
{%- endif -%}
{%- if code == 4885 -%}
  {%- set data = {'AuditFilter': audit_filter|string, 'SubjectUserSid': 'S-1-5-21-1000000000-2000000000-3000000000-1105', 'SubjectUserName': user, 'SubjectDomainName': params.domain, 'SubjectLogonId': '0x' ~ module.rand.string.hex(6)} -%}
{%- else -%}
  {%- set data = {'RequestId': req_id|string, 'Requester': params.domain ~ '\\' ~ user, 'Attributes': attributes} -%}
  {%- if code == 4887 or code == 4888 -%}
    {%- set ski = [] -%}{%- for index in range(20) -%}{%- do ski.append(module.rand.string.hex(2)) -%}{%- endfor -%}
    {%- do data.update({'Disposition': '3' if code == 4887 else '-2146875375', 'SubjectKeyIdentifier': ski|join(' '), 'Subject': 'CN=' ~ user if code == 4887 else ''}) -%}
  {%- endif -%}
{%- endif -%}
{%- set event_time = utc + module.datetime.timedelta(microseconds=module.rand.number.integer(1, 999999)) -%}
{%- if code == 4885 -%}
  {%- do shared.set('pending_active_filter', audit_filter) -%}
  {%- do shared.set('restart_completed_at', event_time + module.datetime.timedelta(seconds=45)) -%}
{%- endif -%}
{%- set created = event_time.isoformat(timespec='microseconds').replace('+00:00', 'Z') -%}
{%- set ns = namespace(xml='<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"><System><Provider Name="Microsoft-Windows-Security-Auditing" Guid="{54849625-5478-4994-A5BA-3E3B0328C30D}"/><EventID>' ~ code ~ '</EventID><Version>0</Version><Level>0</Level><Task>12805</Task><Opcode>0</Opcode><Keywords>0x8020000000000000</Keywords><TimeCreated SystemTime="' ~ created ~ '"/><EventRecordID>' ~ seq ~ '</EventRecordID><Correlation/><Execution ProcessID="' ~ process_id ~ '" ThreadID="' ~ thread_id ~ '"/><Channel>Security</Channel><Computer>' ~ (params.ca_host|e) ~ '</Computer><Security/></System><EventData>') -%}
{%- for key, value in data.items() -%}{%- set ns.xml = ns.xml ~ '<Data Name="' ~ key ~ '">' ~ (value|e) ~ '</Data>' -%}{%- endfor -%}
{%- set ns.xml = ns.xml ~ '</EventData></Event>' -%}
{%- set names = {4885: 'ca-audit-filter-changed', 4886: 'certificate-requested', 4887: 'certificate-issued', 4888: 'certificate-denied'} -%}
{%- set event = {
  '@timestamp': event_time.isoformat(),
  'ecs': {'version': '8.17.0'},
  'event': {'code': code|string, 'kind': 'event', 'category': ['configuration'] if code == 4885 else ['iam'], 'type': ['change'] if code == 4885 else (['denied'] if code == 4888 else (['creation'] if code == 4887 else ['info'])), 'outcome': 'failure' if code == 4888 else 'success', 'action': names[code], 'provider': 'Microsoft-Windows-Security-Auditing', 'original': ns.xml},
  'host': {'name': params.ca_host},
  'observer': {'name': params.ca_name, 'type': 'certificate-authority'},
  'user': {'name': user, 'domain': params.domain},
  'related': {'user': [user]},
  'winlog': {'channel': 'Security', 'provider_name': 'Microsoft-Windows-Security-Auditing', 'provider_guid': '{54849625-5478-4994-A5BA-3E3B0328C30D}', 'event_id': code|string, 'record_id': seq|string, 'computer_name': params.ca_host, 'task': 'Certification Services', 'level': 'information', 'opcode': 'Info', 'keywords': ['Audit Success'], 'process': {'pid': process_id, 'thread': {'id': thread_id}}, 'time_created': created, 'event_data': data}
} -%}
{%- if code == 4886 -%}{%- do event['event'].pop('outcome') -%}{%- endif -%}
{%- if code == 4887 or code == 4888 -%}
  {%- do shared.pop('requester', none) -%}
  {%- do shared.pop('attributes', none) -%}
  {%- do shared.pop('request_is_privileged', none) -%}
{%- endif -%}
{{- event | tojson -}}
