{%- set step = vars.step -%}
{%- if step == 'routine' -%}
  {%- do shared.pop('to_attack', none) -%}
  {%- set n = shared.get('routine_count', 0) + 1 -%}
  {%- if n >= params.anomaly_interval_events -%}
    {%- do shared.set('routine_count', 0) -%}
    {%- if params.anomaly_mode -%}{%- do shared.set('to_attack', true) -%}{%- endif -%}
  {%- else -%}{%- do shared.set('routine_count', n) -%}{%- endif -%}
{%- endif -%}
{%- set attack = step != 'routine' -%}
{%- set path = samples.blocked_paths.pick().path -%}
{%- set sid = params.normal_user_sid -%}
{%- if attack -%}
  {%- set sid = params.anomaly_user_sid -%}
  {%- set path = {'block_1':'C:\\Users\\Public\\updater.exe','block_2':'C:\\ProgramData\\updater.exe','block_3':'D:\\Temp\\updater.exe','block_4':'C:\\Windows\\Temp\\updater.exe'}[step] -%}
{%- endif -%}
{%- set record = (shared.get('record_counter',10000) % 2147483647) + 1 -%}{%- do shared.set('record_counter',record) -%}
{%- set pid = module.rand.number.integer(4000,30000) -%}
{%- if step == 'block_1' -%}{%- do shared.set('attack_logon_id','0x3e7a9') -%}{%- endif -%}
{%- set logon = shared.get('attack_logon_id') if attack else '0x' ~ (record % 65536)|string -%}
{%- set data = {'PolicyNameLength':3,'PolicyName':'Exe','RuleId':'{00000000-0000-0000-0000-000000000000}','RuleNameLength':1,'RuleName':'-','RuleSddlLength':1,'RuleSddl':'-','TargetUser':sid,'TargetProcessId':pid,'FilePathLength':path|length,'FilePath':path,'FileHashLength':0,'FileHash':'','FqbnLength':1,'Fqbn':'-','TargetLogonId':logon,'FullFilePathLength':path|length,'FullFilePath':path} -%}
{%- set xml = '<Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event"><System><Provider Name="Microsoft-Windows-AppLocker" Guid="{cbda4dbf-8d5d-4f69-9578-be14aa540d22}"/><EventID>8004</EventID><Version>0</Version><Level>2</Level><Task>0</Task><Opcode>0</Opcode><Keywords>0x8000000000000000</Keywords><TimeCreated SystemTime="' ~ timestamp.strftime('%Y-%m-%dT%H:%M:%S.%f') ~ '0Z"/><EventRecordID>' ~ record ~ '</EventRecordID><Correlation/><Execution ProcessID="10660" ThreadID="4064"/><Channel>Microsoft-Windows-AppLocker/EXE and DLL</Channel><Computer>' ~ params.host_name ~ '</Computer><Security UserID="' ~ sid ~ '"/></System><UserData><RuleAndFileData xmlns="http://schemas.microsoft.com/schemas/event/Microsoft.Windows/1.0.0.0">' -%}
{%- set ns = namespace(xml=xml) -%}
{%- for key,value in data.items() -%}{%- set ns.xml = ns.xml ~ '<' ~ key ~ '>' ~ (value|string|e) ~ '</' ~ key ~ '>' -%}{%- endfor -%}
{%- set xml = ns.xml ~ '</RuleAndFileData></UserData></Event>' -%}
{%- set out = {'@timestamp':timestamp.isoformat(),'ecs':{'version':'8.17.0'},'event':{'action':'executable-blocked','category':['process'],'code':'8004','dataset':'windows.applocker','kind':'event','original':xml,'outcome':'failure','type':['denied']},'file':{'path':path},'host':{'name':params.host_name,'ip':[params.host_ip]},'message':path ~ ' was prevented from running.','process':{'pid':pid},'related':{'user':[sid]},'tags':['applocker','preserve_original_event'],'user':{'id':sid},'windows':{'applocker':data},'winlog':{'channel':'Microsoft-Windows-AppLocker/EXE and DLL','event_id':8004,'provider_name':'Microsoft-Windows-AppLocker','record_id':record}} -%}
{{- out | tojson -}}
