{%- if kind == 'EventEx' -%}
  {%- set peer = current.peer -%}
  {%- set text = 'Failed login ' ~ actor.name.split('\\')[-1] ~ ' from ' ~ peer ~ ' at ' ~ utc.strftime('%m/%d/%Y %H:%M:%S') ~ ' GMT in SSO' -%}
  {%- do result.update({'text': text, 'action': 'login', 'category': ['authentication'], 'type': ['info'], 'outcome': 'failure', 'peer': peer}) -%}
{%- elif kind == 'UserLoginSessionEvent' -%}
  {%- set peer = current.get('peer', actor.ip) -%}
  {%- do sessions.update({actor_index: {'start': utc, 'peer': peer, 'calls': 2}}) -%}
  {%- set text = 'User ' ~ actor.name ~ '@' ~ peer ~ ' logged in as ' ~ actor.user_agent -%}
  {%- do result.update({'text': text, 'action': 'login', 'category': ['authentication'], 'type': ['info'], 'outcome': 'success', 'peer': peer, 'user_agent': actor.user_agent}) -%}
{%- else -%}
  {%- set session = sessions.pop(actor_index) -%}
  {%- set calls = session.calls + 1 -%}
  {%- set text = 'User ' ~ actor.name ~ '@' ~ session.peer ~ ' logged out (login time: ' ~ session.start.strftime('%A, %d %B, %Y %I:%M:%S %p') ~ ', number of API invocations: ' ~ calls ~ ', user agent: ' ~ actor.user_agent ~ ')' -%}
  {%- do result.update({'text': text, 'action': 'logout', 'category': ['authentication'], 'type': ['info'], 'outcome': 'success', 'peer': session.peer, 'user_agent': actor.user_agent, 'start': session.start.isoformat(timespec='milliseconds').replace('+00:00', 'Z'), 'duration': (now - session.start.timestamp() | int) * 1000000000, 'calls': calls}) -%}
{%- endif -%}
{%- include 'templates/record.json.jinja' -%}
