{%- set vm = vms[current.vm] -%}
{%- do sessions[actor_index].update({'calls': sessions[actor_index].calls + 1}) -%}
{%- if kind == 'VmReconfiguredEvent' -%}
  {%- set before = vm.cbt_enabled -%}
  {%- set after = not before -%}
  {%- do vm.update({'cbt_enabled': after}) -%}
  {%- set text = 'Reconfigured ' ~ vm.name ~ ' on ' ~ vm.host ~ ' in ' ~ params.datacenter ~ '.\n  Modified:\n  config.changeTrackingEnabled: ' ~ ('true' if before else 'false') ~ ' -> ' ~ ('true' if after else 'false') ~ ';' -%}
  {%- do details.update({'configuration': {'change_tracking_enabled': {'old': before, 'new': after}}}) -%}
  {%- set action = 'vm-reconfigured' -%}
  {%- set category = ['configuration'] -%}
  {%- set types = ['change'] -%}
{%- else -%}
  {%- set powered_on = kind == 'VmPoweredOnEvent' -%}
  {%- do vm.update({'powered_on': powered_on}) -%}
  {%- set text = vm.name ~ ' on ' ~ vm.host ~ ' in ' ~ params.datacenter ~ ' is powered ' ~ ('on' if powered_on else 'off') -%}
  {%- set action = 'vm-powered-on' if powered_on else 'vm-powered-off' -%}
  {%- set category = ['host'] -%}
  {%- set types = ['start'] if powered_on else ['end'] -%}
{%- endif -%}
{%- do details.update({'vm': {'name': vm.name}, 'host': {'name': vm.host}}) -%}
{%- do result.update({'text': text, 'datacenter': params.datacenter, 'action': action, 'category': category, 'type': types, 'outcome': 'success'}) -%}
{%- include 'templates/record.json.jinja' -%}
