{%- from 'templates/_base.json.jinja' import metadata_block -%}
{%- set offset = shared.get('offset', 0) -%}
{%- do shared.set('offset', offset + 1) -%}
{%- set epoch_sec = (timestamp.timestamp()) | int -%}
{%- set sessions = shared.get('sessions', []) -%}
{%- if sessions | length > 0 -%}
    {%- set session = sessions.pop(0) -%}
    {%- do shared.set('sessions', sessions) -%}
    {%- set sess_id = session.session_id -%}
    {%- set agent_id = session.agent_id -%}
    {%- set hostname = session.hostname -%}
    {%- set username = session.username -%}
    {%- set start_ts = session.start_timestamp -%}
{%- else -%}
    {%- set host = samples.hosts.pick() -%}
    {%- set user = samples.console_users.pick() -%}
    {%- set sess_id = module.rand.crypto.uuid4() -%}
    {%- set agent_id = host.agent_id -%}
    {%- set hostname = host.hostname -%}
    {%- set username = user.email -%}
    {%- set start_ts = epoch_sec - module.rand.number.integer(60, 3600) -%}
{%- endif -%}
{%- set duration = epoch_sec - start_ts -%}
{
    {{ metadata_block("RemoteResponseSessionEndEvent", params.customer_id, offset, timestamp) }},
    "event": {
        "AgentIdString": {{ agent_id | tojson }},
        "HostnameField": {{ hostname | tojson }},
        "SessionId": {{ sess_id | tojson }},
        "UserName": {{ username | tojson }},
        "StartTimestamp": {{ start_ts }},
        "EndTimestamp": {{ epoch_sec }},
        "Duration": {{ duration }}
    }
}