{%- set session_seq = shared.get('session_seq', 1000) -%}
{%- set event_log_seq = shared.get('event_log_seq', 2300) -%}
{#- Session ID -#}
{%- set pfx = module.rand.string.letters(7) -%}
{%- set c1 = module.rand.choice("abcdefghijkmnpqrstuvwxyz") -%}
{%- set c2 = module.rand.choice("bcdefghjkmnpqrstuvwxyz") -%}
{%- set seq_str = ("000000" ~ (session_seq | string))[-6:] -%}
{%- set session_id = pfx ~ c1 ~ seq_str ~ "-" ~ pfx ~ c2 ~ seq_str -%}
{%- set log_id = "0003" ~ ("000000" ~ (event_log_seq | string))[-6:] -%}
{#- Pick destination mail server -#}
{%- set server = samples.mail_servers.weighted_pick('weight') -%}
{#- Email details -#}
{%- set recipient_user = module.faker.locale.en_US.user_name() -%}
{%- set recipient_email = recipient_user ~ "@" ~ server.domain -%}
{%- set relay_ip = module.rand.network.ip_v4_public() -%}
{%- set delay_secs = module.rand.number.integer(1, 30) -%}
{%- set xdelay_secs = module.rand.number.integer(0, delay_secs) -%}
{%- set pri_val = module.rand.number.integer(30000, 120000) -%}
{%- set msg_bytes = module.rand.number.integer(1500, 200000) -%}
{%- set xfer_rate = module.rand.number.integer(1000, 500000) -%}
{%- set dsn = module.rand.weighted_choice(["2.0.0", "4.7.1", "5.1.1"], [90, 5, 5]) -%}
{%- if dsn == "2.0.0" -%}
  {%- set stat = "Sent (Queued mail for delivery)" -%}
{%- elif dsn == "4.7.1" -%}
  {%- set stat = "Deferred: 421 Try again later" -%}
{%- else -%}
  {%- set stat = "User unknown" -%}
{%- endif -%}
{%- set delay_str = "00:" ~ ("00" ~ ((delay_secs // 60) | string))[-2:] ~ ":" ~ ("00" ~ ((delay_secs % 60) | string))[-2:] -%}
{%- set xdelay_str = "00:" ~ ("00" ~ ((xdelay_secs // 60) | string))[-2:] ~ ":" ~ ("00" ~ ((xdelay_secs % 60) | string))[-2:] -%}
{%- set smtp_msg = "to=<" ~ recipient_email ~ ">, delay=" ~ delay_str ~ ", xdelay=" ~ xdelay_str ~ ", mailer=esmtp, pri=" ~ pri_val ~ ", relay=" ~ server.hostname ~ ".[" ~ relay_ip ~ "], dsn=" ~ dsn ~ ", stat=" ~ stat -%}
{
    "@timestamp": "{{ timestamp.isoformat() }}",
    "agent": {
        "ephemeral_id": "{{ module.rand.crypto.uuid4() }}",
        "id": "{{ params.agent_id }}",
        "name": "{{ params.hostname }}",
        "type": "filebeat",
        "version": "{{ params.agent_version }}"
    },
    "ecs": {
        "version": "8.17.0"
    },
    "event": {
        "action": "NONE",
        "category": ["email"],
        "code": "{{ log_id }}",
        "dataset": "fortinet_fortimail.log",
        "kind": "event",
        "module": "fortinet_fortimail",
        "type": ["info"]
    },
    "fortinet_fortimail": {
        "log": {
            "action": "NONE",
            "id": "{{ log_id }}",
            "message": "{{ smtp_msg }}",
            "priority": "information",
            "session_id": "{{ session_id }}",
            "status": "N/A",
            "sub_type": "smtp",
            "type": "event",
            "ui": "mail",
            "user": "mail"
        }
    },
    "log": {
        "level": "information",
        "syslog": {
            "priority": 190
        }
    },
    "message": "{{ smtp_msg }}",
    "observer": {
        "product": "FortiMail",
        "serial_number": "{{ params.device_id }}",
        "type": "firewall",
        "vendor": "Fortinet"
    },
    "related": {
        "ip": ["{{ relay_ip }}"],
        "user": ["mail", "{{ recipient_email }}"]
    },
    "user": {
        "name": ["mail"]
    },
    "tags": ["fortinet-fortimail", "forwarded"]
}
{%- do shared.set('session_seq', (session_seq + 1) % 2147483647) -%}
{%- do shared.set('event_log_seq', (event_log_seq + 1) % 2147483647) -%}
